body {
    background-color: #a7813a;
}
h1 {
    text-align: center;
    font-weight: bold;
}
.nickName {
    font-weight: bold;
    margin: 40px;
}
img{
    height: 100px;
    width: 100px;
}
.reload img{
    height: 50px;
    width: 50px;
}

.hasil {
    font-size: 80px;
    color: red;
    font-weight: bold;
    margin-top: 50%;
}
.reload{
    text-align: center;
}

.row {
    padding: 20px;
    text-align: center;
}

.pilihanPlayer:hover, .pilihanComputer:hover{
    cursor: pointer;
    background: #a7a5a5;
}

.pilihanPlayer, .pilihanComputer, .pilcom{
    margin-bottom: 5px;
    padding: 20px; 
}

.reload:hover{
    cursor: pointer;
}

.pilcom{
    background: #a7a5a5;
}

