body{
  background-color: black;
  color: white;
}
/* page 1 */
.page1 {
  height: 100%;
  width: 80%;
  padding-bottom: 15rem;
  background-image: url('../img/bg-page1.png');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center ;
  background-size: cover;
}

.navbar-brand {
  padding-left: 80px;
  font-size: 24px;
  font-weight: bold;
}

.navbar-collapse {
  padding-left: 100px;
  font-weight: bold;
}

.content-page1{
  text-align: center; 
  padding-top: 12rem; 
  color: white;
}

/* page 2 */

.page2 {
  height: 100%;
  width: 80%;
  padding-bottom: 15rem;
  padding-top: 5rem;
  background-image: url('../img/bg-page2.png');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center ;
  background-size: cover;
}

/* page 3 */
.page3 {
  height: 100%;
  width: 80%;
  padding-bottom: 15rem;
  padding-top: 5rem;
  background-image: url('../img/bg-page3.png');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
}

/* page 4 */

.page4 {
  height: 100%;
  width: 80%;
  padding-bottom: 15rem;
  padding-top: 5rem;
  background-image: url('../img/bg-page4.png');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
}

/* page 5 */
.page5{
  height: 100%;
  width: 80%;
  padding-bottom: 10rem;
  padding-top: 5rem;
  background-image: url('../img/bg-page5.png');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;

}

.card-img-top{
  border-radius: 50%;
  height: 100px;
  width: 100px;
  border-style: solid;
}

.card {
  background-color: #c4c9c8;
  padding-top: 2rem;
}

.card-title {
  font-size: 1.5rem;
  color: #8f690a;

}

/* page 6 */
.page6{
  height: 100%;
  width: 80%;
  padding-top: 5rem;
  background-image: url('../img/bg-page6.png');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;

}

